.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms linear;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.social {
  // .social-links
  &-links {
    display: flex;
    flex: 1;
  }

  // .social-link
  &-link {
    display: block;

    & + & {
      margin-left: 10px;
    }
  }
}

.bottom {
  // .bottom-bar
  &-bar {
    display: flex;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding: 0 15px;

      &.active {
        color: #0280FB;
      }
    }
  }
}


header {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
  
  .project {
    // .project-name
    &-name {
      font-size: 24px;
      font-weight: bold;
      flex: 1;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.1s ease-in-out;

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      transition: all 0.1s ease-in-out;

      &.active {
        color: #0280FB;

        &:has( ~ .active ) {
          color: black;
        }
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: all 100ms linear;
      min-width: calc(100vw / 2);
      align-items: flex-start;
      border-radius: 15px;
      transform: scale(0.9);
      
      &.active {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
      
      .bottom-bar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        a {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          padding: 15px 0;
          width: 100%;

          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

footer {
  padding: 10px;
  border-top: 1px solid #ddd;

  .author {
    // .author-name
    &-name {
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@keyframes burger-line-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes burger-line-rotate-back {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
  }
}

.burger-line {
  // .burger-line-list
  &-list {
    cursor: pointer;
    display: none;
    position: relative;
    height: 20px;
    width: 30px;

    // .burger-line-list-item
    &-item {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
      transition: all 200ms linear;
      transform-origin: 50% 50%;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }
    
    &.active {
      .burger-line-list-item {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          animation: burger-line-rotate 200ms linear 200ms;
          animation-fill-mode: forwards;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          animation: burger-line-rotate-back 200ms linear 200ms;
          animation-fill-mode: forwards;
        }
      }
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.switch-container {
  display: none;
}
